Renegocie.json
[{"id":"d018a814.6a0c08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7a32f44.568b5","type":"twilio-api","z":"","sid":"AC67d60fcb256a83763b3c3bef8e551cdd","from":"+17205804516","name":"Pague o aluguel!"},{"id":"53a303a5.49e61c","type":"sentiment","z":"d018a814.6a0c08","name":"","property":"payload","x":538.1666793823242,"y":248.00002765655518,"wires":[["a0c2e9bb.9b37a8","ed88b0e2.350a"]]},{"id":"efd999e4.d18958","type":"watson-translator","z":"d018a814.6a0c08","name":"Translator","action":"translate","basemodel":"es-en","domain":"news","srclang":"pt","destlang":"en","password":"RMJW13VdDTsL","custom":"","domainhidden":"news","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":390.16669845581055,"y":249.6666784286499,"wires":[["53a303a5.49e61c"]]},{"id":"a0c2e9bb.9b37a8","type":"debug","z":"d018a814.6a0c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":704.1666870117188,"y":250.00004768371582,"wires":[]},{"id":"fd1f4918.50f9b8","type":"template","z":"d018a814.6a0c08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<style>\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=textarea], select {\n    width: 100%;\n\t\theight: 150px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n</style>\n<body>\n\n<h3>Formulário de renegociação de dívidas</h3>\n<h5>Deixe aqui sua proposta para quitação das suas dívidas</h5>\n\n<div>\n  <form action=\"/proposta-submetida\">\n    <label for=\"fname\">Nome Completo:</label>\n    <input type=\"text\" id=\"nome\" name=\"nome\" placeholder=\"Seu nome...\">\n\n\t\t<label for=\"cpf\">Telefone:</label>\n    <input type=\"text\" id=\"tel\" name=\"tel\" placeholder=\"Seu telefone...\">\n\n\t\t<label for=\"cpf\">CPF:</label>\n    <input type=\"text\" id=\"cpf\" name=\"cpf\" placeholder=\"Seu CPF...\">\n\n\t\t<label for=\"cpf\">EMAIL:</label>\n    <input type=\"text\" id=\"email\" name=\"email\" placeholder=\"Seu EMAIL...\">\n\n\t\t<label for=\"cpf\">Data de nascimento:</label>\n    <input type=\"text\" id=\"data\" name=\"data\" placeholder=\"sua Data de nascimento...\">\n\n\t\t<label for=\"fname\">Nome completo da Mãe:</label>\n    <input type=\"text\" id=\"nmae\" name=\"nmae\" placeholder=\"Nome da sua Mãe...\">\n\n\n\n\t\t<label for=\"fname\">Empresa credora:</label>\n    <input type=\"text\" id=\"emp\" name=\"emp\" placeholder=\"Empresa credora...\">\n\n\t\t<label for=\"fname\">Valor da Dívida:</label>\n    <input type=\"text\" id=\"val\" name=\"val\" placeholder=\"R$XXXXXX,XX...\">\n\n\t\t<label for=\"fname\">Descrição da proposta:</label>\n    <input type=\"textarea\" id=\"desc\" name=\"desc\" height=\"300px\" placeholder=\"Quantos anos, quantas vezes... etc\">\n\n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n\n</body>\n</html>\n","output":"str","x":276.1666946411133,"y":30.000000953674316,"wires":[["89c9d1ed.826a8"]]},{"id":"56d744a.b6df6bc","type":"http in","z":"d018a814.6a0c08","name":"","url":"/renegocie","method":"get","upload":false,"swaggerDoc":"","x":110.16667175292969,"y":26.33333683013916,"wires":[["fd1f4918.50f9b8"]]},{"id":"89c9d1ed.826a8","type":"http response","z":"d018a814.6a0c08","name":"renegocie","statusCode":"","headers":{},"x":415.16668701171875,"y":28.666671752929688,"wires":[]},{"id":"a89ea15.6041e6","type":"http in","z":"d018a814.6a0c08","name":"","url":"proposta-submetida","method":"get","upload":false,"swaggerDoc":"","x":137.1666717529297,"y":88.33334350585938,"wires":[["cf267af6.9d0cf8","81c11498.41d4d8","633cbfce.3b3ff"]]},{"id":"cf267af6.9d0cf8","type":"template","z":"d018a814.6a0c08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<style>\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=textarea], select {\n    width: 100%;\n\t\theight: 150px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n</style>\n<body>\n\n<h3>Proposta submetida</h3>\n<h5>Você terá uma respota de aceitação, recusa ou contra-proposta em até 72 horas</h5>\n\n</body>\n</html>\n","output":"str","x":334.0000686645508,"y":86.0000171661377,"wires":[["b5ba7dd0.7e00c"]]},{"id":"b5ba7dd0.7e00c","type":"http response","z":"d018a814.6a0c08","name":"proposta-submetida","statusCode":"","headers":{},"x":515.0000114440918,"y":86.00000190734863,"wires":[]},{"id":"81c11498.41d4d8","type":"function","z":"d018a814.6a0c08","name":"","func":"globalContext.set(\"Form\",msg.payload); \n\nmsg.payload = msg.payload.desc;\nreturn msg;","outputs":1,"noerr":0,"x":261.16669845581055,"y":209.0000057220459,"wires":[["efd999e4.d18958"]]},{"id":"633cbfce.3b3ff","type":"debug","z":"d018a814.6a0c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":358.1666946411133,"y":146.6666717529297,"wires":[]},{"id":"ed88b0e2.350a","type":"function","z":"d018a814.6a0c08","name":"score","func":"globalContext.set(\"score\",msg.payload.score); \nreturn msg;","outputs":1,"noerr":0,"x":635.1666870117188,"y":188,"wires":[[]]},{"id":"1af61c44.cef864","type":"template","z":"d018a814.6a0c08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<style>\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=textarea], select {\n    width: 100%;\n\t\theight: 150px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n</style>\n<body>\n\n<h3>Formulário de renegociação de dívidas</h3>\n<h5>Deixe aqui sua proposta para quitação das suas dívidas</h5>\n\n<div>\n  <form action=\"/proposta-submetida\">\n    <label for=\"fname\">Nome Completo:</label>\n    <input type=\"text\" id=\"nome\" name=\"nome\" placeholder=\"Seu nome...\">\n\n\t\t<label for=\"cpf\">Telefone:</label>\n    <input type=\"text\" id=\"tel\" name=\"tel\" placeholder=\"Seu telefone...\">\n\n\t\t<label for=\"cpf\">CPF:</label>\n    <input type=\"text\" id=\"cpf\" name=\"cpf\" placeholder=\"Seu CPF...\">\n\n\t\t<label for=\"cpf\">EMAIL:</label>\n    <input type=\"text\" id=\"email\" name=\"email\" placeholder=\"Seu EMAIL...\">\n\n\t\t<label for=\"cpf\">Data de nascimento:</label>\n    <input type=\"text\" id=\"data\" name=\"data\" placeholder=\"sua Data de nascimento...\">\n\n\t\t<label for=\"fname\">Nome completo da Mãe:</label>\n    <input type=\"text\" id=\"nmae\" name=\"nmae\" placeholder=\"Nome da sua Mãe...\">\n\n\n\n\t\t<label for=\"fname\">Empresa credora:</label>\n    <input type=\"text\" id=\"emp\" name=\"emp\" placeholder=\"Empresa credora...\">\n\n\t\t<label for=\"fname\">Valor da Dívida:</label>\n    <input type=\"text\" id=\"val\" name=\"val\" placeholder=\"R$XXXXXX,XX...\">\n\n\t\t<label for=\"fname\">Descrição da proposta:</label>\n    <input type=\"textarea\" id=\"desc\" name=\"desc\" height=\"300px\" placeholder=\"Quantos anos, quantas vezes... etc\">\n\n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n\n</body>\n</html>\n","output":"str","x":308.0000228881836,"y":306,"wires":[["137fdf98.13853"]]},{"id":"e609eea3.faadc","type":"http in","z":"d018a814.6a0c08","name":"","url":"/empresa","method":"get","upload":false,"swaggerDoc":"","x":104,"y":305.33334159851074,"wires":[["1af61c44.cef864","75547a69.f10614"]]},{"id":"137fdf98.13853","type":"http response","z":"d018a814.6a0c08","name":"renegocie","statusCode":"","headers":{},"x":451.0000534057617,"y":304.6666660308838,"wires":[]},{"id":"75547a69.f10614","type":"function","z":"d018a814.6a0c08","name":"","func":"msg.payload.content = globalContext.get(\"Form\"); \nmsg.payload.score = globalContext.set(\"score\",msg.payload); \nreturn msg;","outputs":1,"noerr":0,"x":253.16668701171875,"y":356,"wires":[["1af61c44.cef864"]]}]
